spring:
  application:
    name: docAccess

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/document_access}
    username: ${DATABASE_USER:document_access}
    password: ${DATABASE_PASSWORD:document_access}

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true

  liquibase:
    enabled: false
